<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    th:replace="~{/layouts/client/layout :: main-fragment(
        ~{::title}, 
        ~{:: #main-content}, 
        ~{:: #static-resources-css},
        ~{:: #static-resources-js}
    )}"
>
    <head>
        <title>Thương mại điện tử</title>
        <th:block id="static-resources-css">
            <link rel="stylesheet" th:href="@{/css/client/home/index.css}" />
        </th:block>
    </head>
    <body>
        <div id="main-content" ng-controller="home-page-ctrl">
            <!-- == First ========================== -->
            <section class="container section_first">
                <div class="row">
                    <div class="d-none d-lg-block col-lg-2 left menu_main">
                        <div th:replace="/layouts/client/components/main-menu"></div>
                        <div th:replace="/layouts/client/components/categories-menu"></div>
                    </div>
                    <div class="col-lg-10 right">
                        <div class="section_slider d-flex flex-wrap">
                            <div class="col-lg-9 col-12 px-2 slider">
                                <div class="swiper slider_banner">
                                    <div class="swiper-wrapper">
                                        <a
                                            th:href="@{/homepage}"
                                            ng-repeat="slide in listSlides"
                                            class="swiper-slide clearfix"
                                        >
                                            <picture class="aspect d-block position-ralative">
                                                <img
                                                    ng-src="/images/client/slides/{{slide.image}}"
                                                    alt="{{slide.image}}"
                                                    width="1087"
                                                    height="330"
                                                    class="position-absolute"
                                                />
                                            </picture>
                                        </a>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-12 px-2 banner">
                                <a
                                    th:href="@{/homepage}"
                                    ng-repeat="banner in listBanners"
                                    class="d-inline-block position-relative aspect"
                                >
                                    <img
                                        ng-src="/images/client/banners/{{banner.image?banner.image:''}}"
                                        alt="{{banner.image}}"
                                        class="position-absolute"
                                    />
                                </a>
                            </div>
                        </div>
                        <div class="section_flash flashsale">
                            <div class="title_module timer border-bottom mb-1 d-flex position-relative">
                                <h2 class="title_h2 mb-0"><a th:href="@{/homepage}">Deal sốc mỗi ngày</a></h2>
                                <div
                                    id="countdown"
                                    class="time_in"
                                    data-time="12/12/2023 23:59:59"
                                    data-countdown-type="hours"
                                ></div>
                                <a href="" class="d-none d-md-block more fw_700">Xem thêm</a>
                            </div>
                            <div class="slide_flash position-relative">
                                <div class="swiper py-3 slider_flashsale">
                                    <div class="swiper-wrapper">
                                        <div
                                            ng-repeat="product in listProductsFlashsale | limitTo: 6"
                                            class="swiper-slide flashsale_item"
                                        >
                                            <div th:replace="/layouts/client/components/product-form"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section_service">
                        <div class="swiper py-3 slider_coupons">
                            <div class="swiper-wrapper">
                                <div ng-repeat="coupon in listCoupons | limitTo:5" class="swiper-slide">
                                    <div
                                        class="item_sv"
                                        ng-style="{
                                            'background-image': coupon.image == null ? 
                                            'url(\'/images/no-image.jpg\')' : 
                                            'url(\'/images/coupons/' + coupon.image + '\')'
                                        }"
                                    >
                                        <a href="">
                                            <b class="fw_700 d-block">{{coupon.name}}</b>
                                            <span>{{coupon.description}}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- == Products Tab ========================== -->
            <section class="container section_product_tab section_product_tab_1 module_product">
                <div class="wrap_tab_index">
                    <div class="title_module d-flex border-bottom mb-2">
                        <h2 class="m-0">Danh mục nổi bật</h2>
                        <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
                            <li ng-repeat="suggest in listCategories | limitTo:5" class="nav-item" role="presentation">
                                <button
                                    class="nav-link border-0 text-dark"
                                    ng-class="{'active': suggest.categoryId==1}"
                                    ng-click="handleGetIdTab(suggest.categoryId)"
                                    id="tab-{{suggest.categoryId}}"
                                    data-bs-toggle="tab"
                                    data-bs-target="#tab-pane-{{suggest.categoryId}}"
                                    type="button"
                                    role="tab"
                                    aria-controls="tab-pane"
                                    aria-selected="true"
                                >
                                    {{suggest.name}}
                                </button>
                            </li>
                        </ul>
                        <a href="" class="d-none d-md-block more fw_700">Xem thêm</a>
                    </div>

                    <div class="tab-content" id="myTabContent">
                        <div
                            ng-repeat="suggest in listCategories | limitTo:5"
                            class="tab-pane fade"
                            ng-class="{'show active': suggest.categoryId == 1}"
                            id="tab-pane-{{suggest.categoryId}}"
                            role="tabpanel"
                            aria-labelledby="tab"
                            tabindex="0"
                        >
                            <div class="row">
                                <p ng-if="listProductsOutstanding.length == 0">
                                    Hiện tại chưa có sản phẩm nào trong danh mục này!...
                                </p>
                                <div
                                    class="col-lg-2 col-md-4 col-6"
                                    ng-repeat="product in listProductsOutstanding | limitTo: 6"
                                >
                                    <div th:replace="/layouts/client/components/product-form"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- == Best Seller ========================== -->
            <section class="container section_besteller">
                <div class="title_module d-flex border-bottom mb-2">
                    <h2 class="title_h2 mb-0"><a th:href="@{/homepage}">Sản phẩm bán chạy</a></h2>
                    <a href="" class="d-none d-md-block more fw_700">Xem thêm</a>
                </div>
                <div class="slide_seller">
                    <div class="swiper slider_seller">
                        <div class="swiper-wrapper">
                            <div ng-repeat="product in listProductsSeller | limitTo: 6" class="swiper-slide">
                                <div th:replace="/layouts/client/components/product-form"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- == Blogs ========================== -->
            <section class="container section_blogs">
                <div class="d-flex flex-wrap">
                    <div class="col-lg-9 col-12 left">
                        <div class="title_module d-flex border-bottom mb-2">
                            <h2 class="title_h2 mb-0"><a th:href="@{/homepage}">Thông tin thị trường</a></h2>
                        </div>
                        <div class="row m-0 px-2">
                            <div ng-repeat="news in listNews | limitTo: 4" class="col-xl-3 col-md-6 col-6">
                                <div th:replace="/layouts/client/components/news-form-base"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-12 right">
                        <div class="title_module d-flex border-bottom mb-2">
                            <h2 class="title_h2 mb-0"><a th:href="@{/homepage}">Tin mới cập nhật</a></h2>
                        </div>
                        <div class="px-2">
                            <div ng-repeat="news in listNews | limitTo: 5">
                                <div th:replace="/layouts/client/components/news-form-list"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- ================================ -->
        <th:block id="static-resources-js">
            <script th:src="@{/js/client/home/index.js}"></script>
        </th:block>
    </body>
</html>
