<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    th:replace="~{/layouts/client/layout :: dynamic('Đăng ký tài khoản', ~{::div},
    '/css/account/index.css', '/js/account/index.js')}"
>
    <body>
        <div ng-controller="sign-up-page-ctrl">
            <div th:replace="/layouts/client/components/bread-crumb"></div>
            <div class="page_content_account">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <div class="d_group">
                                <div class="left_col">
                                    <div
                                        class="group_login group_log"
                                        ng-class="{'d-none': showRecoverPasswordForm==true}"
                                    >
                                        <h1 class="title_block_page">{{titlePage}}</h1>
                                        <span th:text="${message}"></span>
                                        <span th:text="${error}"></span>
                                        <form
                                            th:action="@{/account/sign-up}"
                                            th:object="${userNew}"
                                            method="post"
                                            class="m-0 p-0"
                                        >
                                            <div class="form_group m-0 p-0 border-0">
                                                <label class="fw_700 d-inline-block">
                                                    Họ<span class="text-danger required">*</span>
                                                </label>
                                                <input
                                                    type="text"
                                                    th:field="*{lastName}"
                                                    class="form_control form_control_lg"
                                                    name="lastName"
                                                    placeholder="Họ"
                                                    required
                                                />
                                            </div>
                                            <div class="form_group m-0 p-0 border-0">
                                                <label class="fw_700 d-inline-block">
                                                    Tên<span class="text-danger required">*</span>
                                                </label>
                                                <input
                                                    type="text"
                                                    th:field="*{firstName}"
                                                    class="form_control form_control_lg"
                                                    name="firstName"
                                                    placeholder="Tên"
                                                    required
                                                />
                                            </div>
                                            <div class="form_group m-0 p-0 border-0">
                                                <label class="fw_700 d-inline-block">
                                                    Số điện thoại<span class="text-danger required">*</span>
                                                </label>
                                                <input
                                                    type="text"
                                                    th:field="*{phoneNumber}"
                                                    class="form_control form_control_lg"
                                                    name="phoneNumber"
                                                    placeholder="Số điện thoại"
                                                    required
                                                />
                                            </div>
                                            <div class="form_group m-0 p-0 border-0">
                                                <label class="fw_700 d-inline-block">
                                                    Email<span class="text-danger required">*</span>
                                                </label>
                                                <input
                                                    type="email"
                                                    th:field="*{email}"
                                                    class="form_control form_control_lg"
                                                    name="email"
                                                    placeholder="Email"
                                                    required
                                                />
                                            </div>
                                            <div class="form_group">
                                                <label class="fw_700 d-inline-block">
                                                    Mật khẩu <span class="text-danger required">*</span>
                                                </label>
                                                <input
                                                    type="password"
                                                    th:field="*{password}"
                                                    class="form_control form_control_lg"
                                                    name="password"
                                                    placeholder="Mật khẩu"
                                                    required
                                                />
                                            </div>
                                            <div class="form_group">
                                                <label class="fw_700 d-inline-block">
                                                    Xác nhận mật khẩu <span class="text-danger required">*</span>
                                                </label>
                                                <input
                                                    type="password"
                                                    class="form_control form_control_lg"
                                                    name="confirmPassword"
                                                    placeholder="Xác nhận mật khẩu"
                                                    required
                                                />
                                            </div>
                                            <button type="submit" class="button_login">Đăng ký</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="right_col">
                                    <h4>Quyền lợi với thành viên</h4>
                                    <div>
                                        <p>Vận chuyển siêu tốc</p>
                                        <p>Sản phẩm đa dạng</p>
                                        <p>Đổi trả dễ dàng</p>
                                        <p>Tích điểm đổi quà</p>
                                        <p>Nhiều mã coupon dành cho thành viên thường xuyên</p>
                                    </div>
                                    <a th:href="@{/account/login}" class="button_register_default">Đăng nhập</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
