<div ng-controller="login-page-ctrl">
    <div ng-include="'/client/components/bread-crumb.html'"></div>
    <div class="page_content_account">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="d_group">
                        <div class="left_col">
                            <div class="group_login group_log" ng-class="{'d-none': showRecoverPasswordForm==true}">
                                <h1 class="title_block_page">{{title}}</h1>
                                <label th:if="${message}" class="message_info" th:text="${message}"></label>
                                <label th:if="${error}" class="message_error" th:text="${error}"></label>
                                <form th:object="${user}" th:action="@{/account/login}" method="post" class="m-0 p-0">
                                    <div class="form_group m-0 p-0 border-0">
                                        <label class="fw_700 d-inline-block">
                                            Email<span class="text-danger required">*</span>
                                        </label>
                                        <input
                                            type="email"
                                            th:field="*{email}"
                                            class="form_control form_control_lg"
                                            name="email"
                                            placeholder="Email"
                                            required
                                        />
                                    </div>
                                    <div class="form_group">
                                        <label class="fw_700 d-inline-block">
                                            Mật khẩu <span class="text-danger required">*</span>
                                        </label>
                                        <input
                                            type="password"
                                            th:field="*{password}"
                                            class="form_control form_control_lg"
                                            name="password"
                                            placeholder="Mật khẩu"
                                            required
                                        />
                                    </div>
                                    <button type="submit" class="button_login">Đăng nhập</button>
                                </form>
                                <div class="block">
                                    <p class="a_center"><span>Hoặc</span></p>
                                </div>
                                <p class="m-0">
                                    Bạn quên mật khẩu bấm
                                    <a href="" ng-click="handleSetStatusForm(true)" class="ms-2">vào đây</a>
                                </p>
                            </div>
                            <div
                                class="group_login group_recover"
                                ng-class="{'d-none': showRecoverPasswordForm==false}"
                            >
                                <h2>Quên mật khẩu</h2>
                                <p class="description">Chúng tôi sẽ gửi cho bạn một email chứa mật khẩu của bạn.</p>
                                <form th:action="@{/account/forgot-password}" method="post" class="m-0 p-0">
                                    <div class="form_group m-0 p-0 border-0">
                                        <input
                                            type="email"
                                            class="form_control form_control_lg"
                                            name="email"
                                            placeholder="Email"
                                            required
                                        />
                                    </div>
                                    <button type="submit" class="button_login">Gửi yêu cầu</button>
                                    <a href="" ng-click="handleSetStatusForm(false)" class="button_ref">Huỷ</a>
                                </form>
                            </div>
                        </div>
                        <div class="right_col">
                            <h4>Quyền lợi với thành viên</h4>
                            <div>
                                <p>Vận chuyển siêu tốc</p>
                                <p>Sản phẩm đa dạng</p>
                                <p>Đổi trả dễ dàng</p>
                                <p>Tích điểm đổi quà</p>
                                <p>Nhiều mã coupon dành cho thành viên thường xuyên</p>
                            </div>
                            <a th:href="@{/account/sign-up}" class="button_register_default">Đăng ký</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
