<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    th:replace="~{/layouts/client/layout :: dynamic('Danh sách sản phẩm', ~{::div},
    '/css/client/list-product/index.css', '/js/client/list-product/index.js')}"
>
    <body>
        <div ng-controller="list-product-page-ctrl">
            <ul>
                <li ng-repeat="p in products">
                    <span>{{p.name}}</span>
                </li>
            </ul>
        </div>
    </body>
</html>
