<div class="filter_content aside_filter">
    <div class="module_filter">Lọc sản phẩm <span class="d-block">Tìm kiếm dễ dàng chính xác</span></div>
    <div class="filter_container">
        <div class="aside_item filter_price">
            <div class="aside_title">Theo mức giá</div>
            <div class="aside_content content_price">
                <ul>
                    <li class="filter_item filter_item_check_box filter_item_green">
                        <span>
                            <label for="filter-duoi-200-000d">
                                <input
                                    type="checkbox"
                                    id="filter-duoi-200-000d"
                                    ng-click="filterBy('filter-duoi-200-000d')"
                                />
                                Dưới 200.000đ
                            </label>
                        </span>
                    </li>
                    <li class="filter_item filter_item_check_box filter_item_green">
                        <span>
                            <label for="filter-tu-200-000d-500-000d">
                                <input
                                    type="checkbox"
                                    id="filter-tu-200-000d-500-000d"
                                    ng-click="filterBy('filter-tu-200-000d-500-000d')"
                                />
                                Từ 200.000đ - 500.000đ
                            </label>
                        </span>
                    </li>
                    <li class="filter_item filter_item_check_box filter_item_green">
                        <span>
                            <label for="filter-tu-500-000d-den-1tr">
                                <input
                                    type="checkbox"
                                    id="filter-tu-500-000d-den-1tr"
                                    ng-click="filterBy('filter-tu-500-000d-den-1tr')"
                                />
                                Từ 500.000đ - 1 triệu
                            </label>
                        </span>
                    </li>
                    <li class="filter_item filter_item_check_box filter_item_green">
                        <span>
                            <label for="filter-tu-1tr-2tr">
                                <input
                                    type="checkbox"
                                    id="filter-tu-1tr-2tr"
                                    ng-click="filterBy('filter-tu-1tr-2tr')"
                                />
                                Từ 1 - 2 triệu
                            </label>
                        </span>
                    </li>
                    <li class="filter_item filter_item_check_box filter_item_green">
                        <span>
                            <label for="filter-tu-2tr-5tr">
                                <input
                                    type="checkbox"
                                    id="filter-tu-2tr-5tr"
                                    ng-click="filterBy('filter-tu-2tr-5tr')"
                                />
                                Từ 2 - 5 triệu
                            </label>
                        </span>
                    </li>
                    <li class="filter_item filter_item_check_box filter_item_green">
                        <span>
                            <label for="filter-tren-5tr">
                                <input type="checkbox" id="filter-tren-5tr" ng-click="filterBy('filter-tren-5tr')" />
                                Trên 5 triệu
                            </label>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
