<div class="footer">
    <div class="container">
        <div class="d-lg-flex d-none flex-wrap policy">
            <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-center">
                <div class="item position-relative">
                    <img ng-src="/images/client/policys/policy_1.png" alt="policy" class="position-absolute" />
                    <a href="#!/">Miễn phí vận chuyển<b>Cho đơn hàng trên 500k</b></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-center">
                <div class="item position-relative">
                    <img ng-src="/images/client/policys/policy_2.png" alt="policy" class="position-absolute" />
                    <a href="#!/">Thanh toán an toàn<b>100% thanh toán bảo mật</b></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-center">
                <div class="item position-relative">
                    <img ng-src="/images/client/policys/policy_3.png" alt="policy" class="position-absolute" />
                    <a href="#!/">Hỗ trợ khách hầng 24/7<b>Liên hệ với chúng tôi ngay</b></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-center">
                <div class="item position-relative">
                    <img ng-src="/images/client/policys/policy_4.png" alt="policy" class="position-absolute" />
                    <a href="#!/">Miễn phí hoàn hàng<b>Nếu sản phẩm có lỗi</b></a>
                </div>
            </div>
        </div>
        <div class="d-flex flex-wrap fw_700 main_footer">
            <div class="col-lg-4 col-md-12 col-12 foo_col_1">
                <div class="logo_index" ng-include="'/client/components/logo.html'"></div>
                <p class="d-block position-relative address">Tầng 6, Tòa Ladeco, 266 Đội Cấn, Q.Ba Đình, Hà Nội</p>
                <a href="tel:0942859320" class="d-block position-relative phone">0942859320</a>
                <a href="mailto:linhhc.1612@gmail.com" class="d-block position-relative email">linhhc.1612@gmail.com</a>
                <a href="#!/" class="d-inline-block branch">Xem hệ thống cửa hàng</a>
            </div>
            <div class="col-lg-2 col-md-6 col-12 foo_col_2">
                <div class="title_menu">Thông tin</div>
                <ul class="list_menu">
                    <li class="li_menu"><a href="#!/">Siêu sale 8/3</a></li>
                    <li class="li_menu"><a href="#!/">Giá tốt mỗi ngày</a></li>
                    <li class="li_menu"><a href="#!/">Hot dưới 100k</a></li>
                    <li class="li_menu"><a href="#!/">Mã giảm giá</a></li>
                    <li class="li_menu"><a href="#!/">Liên hệ với chúng tôi</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 col-12 foo_col_2">
                <div class="title_menu">Khách hàng</div>
                <ul class="list_menu">
                    <li class="li_menu"><a href="#!/">Chính sách mua hàng</a></li>
                    <li class="li_menu"><a href="#!/">Chính sách đổi trả</a></li>
                    <li class="li_menu"><a href="#!/">Chính sách vận chuyển</a></li>
                    <li class="li_menu"><a href="#!/">Chính sách bảo mật</a></li>
                    <li class="li_menu"><a href="#!/">Cam kết cửa hàng</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 col-12 foo_col_2">
                <div class="title_menu">Hướng dẫn</div>
                <ul class="list_menu">
                    <li class="li_menu"><a href="#!/">Hướng dẫn mua hàng</a></li>
                    <li class="li_menu"><a href="#!/">Hướng dẫn đổi trả</a></li>
                    <li class="li_menu"><a href="#!/">Hướng dẫn chuyển khoản</a></li>
                    <li class="li_menu"><a href="#!/">Hướng dẫn trả góp</a></li>
                    <li class="li_menu"><a href="#!/">Hướng dẫn hoàn hàng</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 col-12 foo_col_5">
                <div class="title_menu">Chấp nhận thanh toán</div>
                <div class="payment">
                    <img ng-src="/images/client/payments/payment_1.png" alt="payment" />
                    <img ng-src="/images/client/payments/payment_2.png" alt="payment" />
                    <img ng-src="/images/client/payments/payment_3.png" alt="payment" />
                    <img ng-src="/images/client/payments/payment_4.png" alt="payment" />
                </div>
                <div class="title_menu">Theo dõi chúng tôi</div>
                <a href="#!/"><img ng-src="/images/client/follows/facebook.svg" alt="follow" /></a>
                <a href="#!/"><img ng-src="/images/client/follows/youtube.svg" alt="follow" /></a>
                <a href="#!/"><img ng-src="/images/client/follows/instagram.svg" alt="follow" /></a>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <span class="provided">
                Bản quyền thuộc về
                <a href="mailto:linhhc.1612@gmail.com">Linhhc</a>
            </span>
            <a href="#" id="backtotop" class="backtop" title="Lên đầu trang"><i class="fa-solid fa-caret-up"></i></a>
        </div>
    </div>
</div>
