<a href="tel:0942859320" class="text_icon text_icon_mobile icon_phone" title="Hotline"> </a>
<div class="account_header position-relative">
    <a th:href="@{/account/login}" class="text_icon text_icon_mobile icon_account" title="Tài khoản"> </a>
    <ul class="position-absolute p-0">
        <li th:if="${userNameCurrent==null}"><a th:href="@{/account/login}">Đăng nhập</a></li>
        <li th:if="${userNameCurrent==null}"><a th:href="@{/account/sign-up}">Đăng ký</a></li>
        <li><a th:href="@{/products/list-favorite}">Yêu thích ̣(0)</a></li>
        <li><a th:href="@{/products/list-view}">Đã xem(0)</a></li>
        <li th:if="${userNameCurrent!=null}"><a th:href="@{/account/logout}">Đăng xuất</a></li>
    </ul>
</div>
<a th:href="@{/}" class="position-relative text_icon text_icon_mobile cart_header icon_cart" title="Giỏ hàng">
    <span class="d-block position-absolute text-center count_items_cart">0</span>
</a>
