<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    th:replace="~{/layouts/layoutDefault :: dynamic('Thương mại điện tử', ~{::div}, 
    '/css/home/index.css', '/js/home/index.js')}"
>
    <body>
        <div ng-app="home-page" ng-controller="home-page-ctrl">
            <h1>Trang chu</h1>
            <span
                >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae commodi eos dolorem exercitationem
                totam, alias, similique suscipit tenetur, necessitatibus fugiat incidunt eligendi eum porro minus
                repellat dignissimos consectetur ut culpa?</span
            >
        </div>
    </body>
</html>
