/* == Default ============================================================================================ */
:root {
    font-size: 16px;
    --main-color: #163ac7;
    --hover: #16bcdc;
    --text-color: #000000;
    --price: #163ac7;
    --hover: #16bcdc;
    --menu: #ad0018;
    --bgcopoun: #ffeef2;
    --bgbestsale: #f8f8f8;
    --bgmailchip: #ffeef2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--text-color);
    text-align: left;
    background-color: #f1f3f6;
}

button,
input[type='email'],
input[type='file'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='submit'],
input[type='tel'],
input[type='text'],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
}

[type='reset'],
[type='submit'],
button,
html [type='button'] {
    -webkit-appearance: button;
    cursor: pointer;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    color: var(--hover);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none outside;
}

img {
    vertical-align: middle;
    border-style: none;
}

input {
    height: 40px;
    border-radius: 4px;
    line-height: 40px;
    margin-bottom: 10px;
    width: 100%;
    padding: 0 20px 0 20px;
    background: #fff;
    border-color: #ebebeb;
    font-size: 14px;
    color: #9e9e9e;
    box-shadow: none;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

/* == Set CSS and Responsive ============================================================================================ */
.clearfix::after {
    display: block;
    clear: both;
    content: '';
}

.title_module {
    position: relative;
    align-items: center;
    padding: 15px;
}

.title_module h1,
.title_module h2 {
    font-size: 28px;
    font-weight: 700;
    color: var(--text-color);
}

.title_module h1:hover a,
.title_module h2:hover a {
    color: var(--main-color);
}

.title_module .more {
    background: var(--main-color);
    color: #fff;
    padding: 6px 10px;
    margin-left: auto;
}

.title_module .more {
    border-radius: 8px;
    overflow: hidden;
}

.title_module .more:hover {
    background: var(--hover);
}

.text_2_line {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.form_control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Main menu */
.nav_horizontal {
    background: #fff;
    border-radius: 10px;
    padding: 8px;
}

.nav_horizontal.main_menu {
    height: 216px;
    margin-bottom: 20px;
}

.nav_horizontal.main_menu .item_big {
    height: 100%;
    overflow: hidden;
}

.nav_horizontal .item_big > li > a {
    padding-left: 44px;
    background-size: 32px;
    background-position: 5px 5px;
    background-repeat: no-repeat;
}

.nav_horizontal ul li {
    position: relative;
}

.nav_horizontal a {
    color: var(--text-color);
    display: block;
    border-radius: 10px;
    padding: 8px;
}

.nav_horizontal a:hover {
    background: #e8ebf9;
}

.nav_horizontal.cate_menu:not(.cate_menu_col1) .item_big::-webkit-scrollbar,
.nav_horizontal.main_menu .item_big::-webkit-scrollbar {
    width: 6px;
    border-radius: 6px;
}

.nav_horizontal.cate_menu:not(.cate_menu_col1) .item_big::-webkit-scrollbar-thumb,
.nav_horizontal.main_menu .item_big::-webkit-scrollbar-thumb {
    background: #cbcbcb;
    border-radius: 10px;
}

.nav_horizontal.cate_menu:not(.cate_menu_col1) .item_big::-webkit-scrollbar-track,
.nav_horizontal.main_menu .item_big::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Cate menu */
.nav_horizontal.cate_menu:not(.cate_menu_col1) {
    height: calc(100% - 236px);
}

.nav_horizontal.cate_menu:not(.cate_menu_col1) .item_big {
    position: relative;
    top: 8px;
    left: 8px;
    width: calc(100% - 8px);
    height: calc(100% - 16px);
    overflow: auto;
}

/* Product Form */
.item_product_main {
    padding: 6px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    background: #fff;
}

.item_product_main .image_thumb {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.item_product_main .image_thumb .flag_label {
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 9;
    opacity: 0.9;
}

.item_product_main .image_thumb .flag_label span {
    display: inline-block;
    vertical-align: top;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 10px;
    color: #fff;
}

.item_product_main .image_thumb .flag_label span.label_sale {
    background: var(--main-color);
    margin-right: 5px;
}

.item_product_main .image_thumb .flag_label span.label_fea {
    background: #ff6720;
}

.item_product_main .image_thumb a {
    padding-bottom: 100%;
    transition: transform 300ms ease;
}

.item_product_main .action_cart {
    position: absolute;
    bottom: -60px;
    left: 6px;
    right: 6px;
    visibility: hidden;
    transition: all 300ms ease;
    text-align: center;
}

.item_product_main .action_cart button {
    border: 1px solid var(--main-color);
    width: 125px;
    margin: 0 auto;
    text-align: center;
    color: var(--main-color);
    height: 30px;
    border-radius: 5px;
    background: #fff;
}

.item_product_main .action_cart button:hover {
    cursor: pointer;
    background: var(--main-color);
    color: #fff;
}

.item_product_main .info_product {
    background: rgba(255, 255, 255, 0.8);
    transition: transform 300ms ease;
    padding-top: 10px;
    position: relative;
}

.item_product_main .product_name {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    height: 38px;
    margin-bottom: 0.5rem;
}

.item_product_main .price_box {
    color: var(--price);
    font-size: 20px;
    font-weight: 700;
}

.item_product_main .price_box .compare_price {
    font-size: 14px;
    color: #ca3604;
}

.flashsale_bottom {
    right: 0;
    top: 60px;
    font-weight: 500;
}

.flashsale_bottom .flashsale_label {
    color: #525666;
    font-size: 14px;
}

/* News form base */
.item_blog_base a.thumb {
    padding-bottom: 75%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}

.item_blog_base a.thumb img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item_blog_base h3 {
    font-size: 18px;
}

.item_blog_base p {
    color: #515762;
    font-size: 0.9rem;
    margin-bottom: 15px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* News form list */
.item_blog_list {
    display: flex;
    align-items: flex-start;
    padding: 0 10px 15px;
}

.item_blog_list .thumb {
    -webkit-box-flex: 0;
    flex: 0 0 81px;
    max-width: 81px;
    height: 61px;
    margin-right: 16px;
    border-radius: 8px;
    overflow: hidden;
}

.item_blog_list h3 {
    font-size: 18px;
}

/* 
    Mobile (điện thoại): Thường từ 320px đến 767px.
    Tablet (máy tính bảng): Thường từ 768px đến 1023px.
    Desktop (máy tính để bàn - lớn): Thường từ 1024px đến 1199px.
    Large Desktop (máy tính để bàn - lớn hơn): 1200px trở lên.
*/

.fw_400 {
    font-weight: 400;
}

.fw_500 {
    font-weight: 500;
}

.fw_700 {
    font-weight: 700;
}

/* Media query cho mobile */

/* Media query cho tablet */
@media screen and (min-width: 768px) {
}

/* Media query cho desktop */
@media screen and (min-width: 1024px) {
    .item_product_main {
        transition: all 300ms ease;
    }

    .item_product_main:hover {
        box-shadow: 0px 0 10px rgba(217, 222, 226, 0.8);
    }

    .item_product_main:hover .image_thumb > a {
        transform: scale(1.1) !important;
    }

    .item_product_main:hover .action_cart {
        bottom: 12px;
        visibility: visible;
        z-index: 1;
    }

    .item_blog_base h3 {
        -webkit-line-clamp: 3;
    }

    .item_blog_base p {
        -webkit-line-clamp: 4;
        margin-bottom: 18px;
    }
}

/* == Custom Css ============================================================================================ */

/* Swiper Pagigation */
.section_slider .swiper-pagination .swiper-pagination-bullet {
    background: #fff;
    margin: 0 3px !important;
}

/* Bread Crumb */
.bread-crumb {
    padding: 10px 0;
    background: #fff;
    margin-bottom: 20px;
}

.breadcrumb li a:hover,
.breadcrumb li.active {
    color: var(--main-color);
}
