<form action="" method="post" class="input-group p-0 search_form">
    <input
        type="text"
        name="querySearch"
        class="position-relative m-0 search_form_input"
        placeholder="Tìm sản phẩm"
        aria-label="Tìm sản phẩm"
    />
    <button class="position-absolute p-0 search_form_button" title="Tìm kiếm">
        <img ng:src="/images/client/icons/search_icon.svg" alt="" width="44" height="44" />
    </button>
    <p class="position-absolute m-0 search_form_suggest">
        <a ng-repeat="suggest in listCategories | limitTo:5" href="#" title="{{suggest.name}}"> {{suggest.name}} </a>
    </p>
</form>
