<a th:href="@{/}" class="text_icon icon_phone" title="Hotline">
    Hotline
    <span class="fw_700 d-block">0942859320</span>
</a>
<div class="account_header position-relative">
    <a th:href="@{/}" class="text_icon icon_account" title="Tài khoản">
        Tài khoản
        <span class="fw_700 d-block">Hello, Khách</span>
    </a>
    <ul class="position-absolute p-0">
        <li><a th:href="@{/url}">Đăng nhập</a></li>
        <li><a th:href="@{/url}">Đăng ký</a></li>
        <li><a th:href="@{/url}">Yêu thích ̣(0)</a></li>
        <li><a th:href="@{/url}">Đã xem(0)</a></li>
    </ul>
</div>
<a th:href="@{/}" class="position-relative text_icon cart_header icon_cart" title="Giỏ hàng">
    Giỏ hàng
    <span class="fw_700 d-block">Thanh toán</span>
    <span class="d-block position-absolute text-center count_items_cart">0</span>
</a>
