<a th:href="@{/}" class="text_icon text_icon_mobile icon_phone" title="Hotline"> </a>
<div class="account_header position-relative">
    <a th:href="@{/}" class="text_icon text_icon_mobile icon_account" title="Tài khoản"> </a>
    <ul class="position-absolute p-0">
        <li><a th:href="@{/url}">Đăng nhập</a></li>
        <li><a th:href="@{/url}">Đăng ký</a></li>
        <li><a th:href="@{/url}">Yêu thích ̣(0)</a></li>
        <li><a th:href="@{/url}">Đã xem(0)</a></li>
    </ul>
</div>
<a th:href="@{/}" class="position-relative text_icon text_icon_mobile cart_header icon_cart" title="Giỏ hàng">
    <span class="d-block position-absolute text-center count_items_cart">0</span>
</a>
