<nav class="nav_horizontal main_menu">
    <ul class="item_big">
        <li class="nav_item">
            <a href="" style="background-image: url('/images/client/icons/menu_ico_2.png')">Giá tốt mỗi ngày</a>
        </li>
        <li class="nav_item">
            <a href="" style="background-image: url('/images/client/icons/menu_ico_3.png')">Hot dưới 100k</a>
        </li>
        <li class="nav_item">
            <a href="" style="background-image: url('/images/client/icons/menu_ico_4.png')">Mã giảm giá</a>
        </li>
        <li class="nav_item">
            <a href="" style="background-image: url('/images/client/icons/menu_ico_5.png')">Liên hệ với chúng tôi</a>
        </li>
    </ul>
</nav>
